<!doctype html>

<html>

<head>
	<title>Black (~_~) Jack</title>
	<link rel="stylesheet" href="http://localhost:8080/css/styles.css">
</head>


<body>
   <h1>The Iron Yard Casino</h1>
  <br>
  <label class="ref_info" for="player_info1">Cards Left:</label>
  <input id="cards_left"    type="text"  name="player_header_1"  value=" {{cards_left}}"        
  		 placeholder="player_info1" required disabled>
  <br>
  <label class="ref_info" for="player_info2">  Your Account Bal (initial/current):</label>
  <input class="player_info"   type="text" name="player_header_2"  
         value=" ${{start_with_amount}}  /  ${{current_amount}}" 
  		 placeholder="player_info2" required disabled> 
  <br> 
  <label class="ref_info" for="player_info3">  You Won / Lost (this PLAY):</label>
  <input class="player_info"   type="text" name="player_header_3"  value=" ${{win}}"
  		 placeholder="player_info3" required disabled> 		 
  <br>
  <label class="ref_info" for="player_info4">  Your Bet:</label>
  <input class="player_info"   type="text" name="player_header_4"  value=" ${{betA}}"
  		 placeholder="player_info4" required disabled> 		 
  <br>  
  <br> 
  <input id="div1">
  <br>
  <br>
  <label for="hand_p">Player:</label>
  <input id="hand_p"  type="text" name="player_header"  value="{{points_p}}" required disabled>
  <br>
  <br>
  <label for="hand_d">Dealer:</label> 
  <input id="hand_d"  type="text" name="dealer_header"  value="{{points_d}}" required disabled>
  <br>
  <br>
  <br>

   <!-- Game has NOT Started - NEW GAME & BET buttons are available -->
   {{#isGameStart}}
   		 <form method="post" action="/gamestart">
   		       <label for="bet">Enter your BET (a value from 1 to {{max_value}}):</label> 
		  	   <input autofocus  
		  	          name="bet" type="number"  
		  	          value="1"  step="1"  min="1" max="{{max_value}}"  
		  	          placeholder="bet"  required> 

		  	   <button  class="play"   name="blackjack_SG"  value="gamestart"   
		  	   title="Start the game">START PLAY</button>		  	   
		 </form>	
   {{/isGameStart}}

    
    <!-- Game has started & Player does not have BlackJack - HIT & STAND buttons are both available -->  
   {{#isPlayStart}}
		 <form method="post" action="blackjack/hit">
		       <button  class="play2"      name="blackjack_H"  value="hit"   
		       title="One more card">HIT</button>
		 </form> 
		  
		 <form method="post" action="blackjack/stand">
		       <button  class="play2"      name="blackjack_S"  value="stand"   
		       title="No more cards">STAND</button>
		 </form>  
   {{/isPlayStart}}


   {{#isEvenMoney}}		  
		 <form method="post" action="/blackjack/hit">
		       <button  class="play"  name="blackjack_S"      value={{accept_em_offer}}"   
		       title="Will you accept even moeny offer?">EVEN MONEY?</button>
		 </form>  
   {{/isEvenMoney}}
   
   
   {{#isStand}}		  
		 <form method="post" action="/blackjack/stand">
		       <button  class="play"  name="blackjack_S"      value="stand"   
		       title="No more cards">STAND</button>
		 </form>  
   {{/isStand}}
   
     
   <!-- Player gets BlackJack - the HIT button hides & message appears -->
   {{#isNewPlay}}		  
		 <form method="post" action="/blackjack/new_game">
		       <button  class="play"  name="blackjack_NG"      value="new_game"   
		       title="Start a new play">NEW PLAY</button>
		 </form>  
   {{/isNewPlay}}


   <!-- No buttons or any info -->
   {{#isGameOver}}		  
		 <form method="post" action="/blackjack/end_game">
		       <button  class="play"  name="blackjack_EG"      value="end_game"  style="float: center;" 
		       title="Start a new play">END GAME</button>
		 </form>    
   {{/isGameOver}}  
   
   <p style=" color:blue; font-family:Tahoma; font-size:100%; text-align:center; ">{{msg}}</p> 
   <p style=" color:black; font-family:Tahoma; font-size:90%; text-align:center; ">{{msg1}}</p>  
    
</body>  
</html> 